@import "../../utils/scss/colors.scss";

.Translation {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 3;
    transition: transform 0.5s ease-in-out;
    width: 100vw;
    padding: 50px;
    text-align: left;
    max-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    &.hidden {
        transform: translateY(-500%) translateX(-50%);
    }

    &.visible {
        transform: translateY(-50%) translateX(-50%);
    }

    .Sentence {
        color: $light-pink;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 4.5rem;
        overflow-wrap: break-word;
        max-width: 1200px;

        > a {
            color: inherit;
            text-decoration: none;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: $light-cyan;
            }
        }
    }
    
    .Definition {
        text-align: center;
        color: $light-cyan;
        overflow-wrap: break-word;
        margin-top: 20px;
        font-size: 3.2rem;
        // pointer-events: none;
        max-width: 1200px;

        > a {
            color: inherit;
            text-decoration: none;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: $light-pink;
            }
        }
    }
    
    .Icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .IconWrapper {
            color: $light-pink;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        
            i {
                cursor: pointer;
                margin-left: 10px;
                font-size: 4rem;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: $light-cyan;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .Translation {

        .Sentence {
            font-size: 3.5rem;
        }

        .Definition {
            font-size: 2.5rem;
        }

        .Icons {
            .IconWrapper {
                i {
                    font-size: 3rem;
                }

            }
        }
    }
}


