.Letters {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0;

    button {
        margin: 0.3rem;
        font-size: 1rem;
        // border: 1px solid #555;
        border: 1px solid #5c2c6d;
        border-radius: 0.3rem;
        background-color: #111;
        color: #b8aec8;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            // border: 1px solid white;
            border: 1px solid #d30cb8;
            color: white;
        }
    }
}
