* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #111;
  /* background: linear-gradient(to left bottom, #111,#111); */
  padding: 2rem;
  min-height: 100vh;
}

