.Reset {
    margin: 1rem 0;
    width: 8rem;
    height: 3rem;

    font-size: 0.9rem;
    text-transform: uppercase;
    // border: 1px solid #555;
    border: 1px solid #5da4a6;
    border-radius: 0.3rem;
    background-color: #111;
    color: inherit;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        // border: 1px solid white;
        border: 1px solid #6df1d8;
    }
}